<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Sistema Web Para Reservaciones En Linea Casa Mu침oz{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>     
        <link href="{{ asset('bundles/casamunozempresa/css/sigav.css') }}" type="text/css" rel="stylesheet" />
        <!-- <link href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet"/> -->
        <link href="{{ asset('bundles/casamunozempresa/imagenes/dtic-icono.png') }}" type="image/png" rel="Shortcut Icon" />
        {% endblock %}
    </head>                                      
<body>
        {% block header %}
            <div class="centerTable">
                <div class="table-responsive">
                        <table class="table-borderless" width="0%">
                                <tbody>
                                        <tr class="text-center">
                                                <td rowspan=2 width="20%">									
                                                </td>
                                                <td width="60%">
                                                       <img src={{ asset('bundles/casamunozempresa/imagenes/encabezado.jpg') }} />
                                                </td>
                                                <td rowspan=2 width="25%">
                                                        <p class="text-center"> 
                                                                {{ app.session.get('usuario') }}
                                                                <br />
                                                                {{ app.session.get('nombre_rol') }}
                                                        </p>
                                                </td>
                                        </tr>							
                                </tbody>
                        </table>
                </div>
            </div>	
            <br />  
            <div class="container">	
            <ol class="breadcrumb text-center">     
 
            <li class="top">
            <a href="{{ path('_home') }}" class="top_link">
            <span class="down">Inicio</span></a>
          </li>
          <li class="top">
            <a href="{{ path('somos_index') }}" class="top_link">
            <span class="down">Quienes Somos</span></a>
          </li>
             <li class="top">
            <a href="{{ path('servi_index') }}" class="top_link">
            <span class="down">Nuestros servicios</span> </a>
        </li>
        <li class="top">
        <a href="{{ path('promociones_index') }}" class="top_link">
            <span class="down">Promociones</span> </a>
        </li>
        <li class="top">
        <a href="{{ path('nuestras_index') }}" class="top_link">
            <span class="down">Nuestras Sucursales</span> </a>
        </li>
       <li class="top">
        <a href="{{ path('acerca_index') }}" class="top_link">
            <span class="down">Acerca De</span> </a>
    </li>  
    <li class="top">
        <a href="{{ path('login') }}" class="top_link">
            <span class="down">Login</span> </a>
    </li>                 
       

  
          
    
	             {% if app.session.get('rol_id') == 1 %}
                            <li><a href="{{url('_home')}}">Inicio</a></li>
			    
		     {% endif %}
		     {% if app.session.get('rol_id') == 2 %} 
                            <li><a href="{{url('_home')}}">Inicio</a></li>
			    <li><a href={{url('minsal_si_gminsal_sig_perfil_tact')}}>Perfil</a></li>
			    <li><a href="{{url('minsal_si_gminsal_sig_cum')}}">Mejor CUM de Estudiantes</a></li>
			    <li><a href="{{url('minsal_si_gminsal_sig_pruebaCon')}}">Prueba de Conocimiento</a></li>
			    <li><a href="{{url('minsal_si_gminsal_sig_plazas')}}">Remunerados y Ad-Honorem</a></li>
			    <li><a href="{{url('minsal_si_gminsal_sig_aprobados')}}">Estudiantes Aprobados</a></li>
                            <li><a href="{{url('minsal_si_gminsal_sig_distribucion')}}">Distribuci칩n Estudiantes</a></li>
			    <li><a href="{{url('minsal_si_gminsal_sig_informefinal')}}">Informe final</a></li>					    
		     {% endif %}    
		     {% if app.session.get('rol_id') == 3 %} 
                             <li><a href="{{url('_home')}}">Inicio</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_perfil_est')}}">Perfil</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_promPrueba')}}">Prueba de Conocimiento</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_conplazas')}}">Consolidado de Plazas</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_estudiantes')}}">Estudiantes Aptos para SS</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_rangoNotas')}}">Rango de Notas</a></li>
			     <li><a href="{{url('minsal_si_gminsal_sig_montoTotal')}}">Monto Total de Plazas</a></li>				     
		    {% endif %}
		</ol>          
            </div>                                 
        {% endblock %}
		<br />
        
        {% block body %} {% endblock %}            
                            
        <br />
        <br />
        {% block footer %} 			
            <div class="container">
                <ol class="breadcrumb text-center"> 
                      <li><a href="{{url('_home')}}">Cerrar Sesi칩n</a></li>  
                      <li><a href="#">Ayuda</a></li> 
                      <div id="divpie">Copyright (C) 2014 Casa Mu침oz, Sistema Web</div>
            </div>
                </ol>                      
            </div>			
        {% endblock %}   
      {% block javascripts %}
            <script language="JavaScript" src ="{{asset('bootstrap/js/bootstrap.js')}}"> </script> 
            <script language="JavaScript" src ="{{asset('bundles/casamunozempresa/js/jquery-2.1.0.min.js')}}"> </script>
            <script language="JavaScript" src ="{{asset('bundles/casamunozempresa/js/password_checker.js')}}"> </script>
        {% endblock %}
    </body>
</html>