{% extends '::base.html.twig' %}
   <!DOCTYPE html>
<html>
  

   {<body class="body-login">
	
        {% block body %} 
            <div class="centerDiv">
                <div class="container">    
                    <div class="panel panel-fondo">
                      <div class="panel-body">     
                        {{ form_start(form, {'attr': {'class': 'form-login'}}) }}
                        {{ form_errors(form) }}
                        <div class="centerDiv">
                                <img src="{{asset('images/contact.png')}}">
                                <h2 class="form-login-heading text-center"><Strong>Bienvenido</Strong></h2>
                        </div>                                        
                     <p>{{ form_widget(form.username) }}</p>
                        {{ form_widget(form.password) }}
			</br>

                        {{ form_widget(form.ingresar) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                     </div>
                    </div> 
                </div>                
            </div>           
        {% endblock %}
     </body>
     	
</html>   
        
        