{% extends 'casamunozempresaBundle::plantilla.html.twig' %}
{% block titulo %}CRUD de Persona{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/casamunozempresa/js/Persona/index.js') }}" ></script>
{% endblock %}

{% block body -%}
    <h1>Persona list</h1>

    <table class="listado_personas">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Direccion</th>
                <th>Dui</th>
                <th>Sexo</th>
                <th>Fechanac</th>
               
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.primerNombre }}</td>
                <td>{{ entity.segundoNombre }}</td>
                <td>{{ entity.primerApellido }}</td>
                <td>{{ entity.segundoApellido }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.dui }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{% if entity.fechaNac %}{{ entity.fechaNac|date('Y-m-d H:i:s') }}{% endif %}</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('persona_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
