{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Persona</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ entity.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ entity.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ entity.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ entity.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Dui</th>
                <td>{{ entity.dui }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Fechanac</th>
                <td>{{ entity.fechaNac|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('persona') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('persona_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
